body{
    background: #eee;
}
#message{
    width: 400px;
    background: #ddaaaa;
    padding: 20px;
    padding-top: 0;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ff7777;
    font-weight: bold;
    opacity: 0;
    -webkit-transition :max-height 0.7s;
}
#message.show{
   opacity: 1;
    -webkit-transition :max-height 0.7s;
    
}

#color-changer{
    width: 200px;
    height: 100px;
    margin:30px auto;
    border: 1px solid #000;
    background: #fff;
       -webkit-transition :max-height 0.7s;
    
}